
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500);

body {
  background      : url(../img/background.jpg) no-repeat center center fixed;
  background-size : cover;
  margin          : 0px;
  -dyn-width      : '@win-width';
  -dyn-height     : '@win-height';
  font-family     : 'Exo 2';
}

.content {
	display: inline-block;
	width: 40%;
	box-sizing: border-box;
}

@pos      : '(@jq-position.top)';
@cur      : '@win-scrollTop';
@distance : '(@{cur} - @{pos})';

.common-style() {
	display          : block;
	box-sizing       : border-box;
	padding          : 3em;
	background-color : fade(black, 30%);
	text-align       : left;
	color            : white;
	border-radius    : .5em;
	width            : 100%;
	-dyn-margin-top  : '(@win-height - @el-height)/2.0';
	-dyn-margin-left : '(@win-width - @el-width)/2.0';
	-dyn-opacity  : '@shouldDisappear({when : @{distance}, isHigherThan : @win-height/2})'
}

.content__page1 {
	.common-style();
}

.content__page2 {
	.common-style();
}

.content__page3 {
	.common-style();
}

.content__page4 {
	.common-style();
	// -dyn-margin-bottom: '(@win-height - @el-height)/2';
}

.page1__header, .page2__header, .page3__header, .page4__header {
	font-size: 3em;
	font-weight: 300;
}

.page1__sub, .page2__sub, .page3__sub, .page4__sub {
	font-size: 1.5em;
	font-weight: 100;
}