doctype html
html
	head(lang="en")
		title Your awesome product 
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		// if lt IE 9
			script(type="text/javascript", src="js/html5shiv.js")
		link(rel="stylesheet", href="css/client.css", type="text/css")
		//- link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Exo+2:400,500,300", type="text/css")
	body

		.position-spy
			.position-spy__page1
			.position-spy__page2
			.position-spy__page3 
			.position-spy__page4

		.content
			.content__page1
				.page1__header Your Awesome Product
				.page1__sub In your awesome landing page
			.content__page2
				.page2__header Feature one
				.page2__sub You cannot live without it
			.content__page3
				.page3__header Feature Two
				.page3__sub Essential
			.content__page4
				.page4__header Keep in touch
				.page4__form
					input.page4__form__mail
					button.page4__form__submit 

		.phone
			.phone__page1
			.phone__page2
			img.phone-preview__phone(src='img/phone.png')


		script(type="text/javascript", src="js/vendor.js")
		// if IE
			script(type="text/javascript", src="js/placeholder.js")